a{
    color: #fdfdfd;
    text-decoration: none !important;
}

.container__small-card{
    display: flex;
    margin: 0px 5vw;
    border-bottom: 0.3px solid #fdfdfd30;
    margin-bottom: 5vh;
}

.small-card__image > img{
    width: 20vw;
    margin-bottom: 2vh;
}

.small-card__title{
    margin: 0px 0px 2vh 13px;
    text-align: justify;
}